@charset "UTF-8";
#trip{
    background-image: url(sea.jpg);
    height: 100px;
}


nav{
    width: 30%;
    background-color: #F7C6BD;
    background-repeat: repeat-y;
}

article{
    width: 70%;
    background-image: url(image.png);
    background-repeat: repeat-y;
    height: 300px;
}

.mainmenu{
    display: flex;
    justify-content: space-between;
}