@charset "UTF-8";

#trip {
  background-image: url("/image/header_sea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

header h1 {
 text-align: left;
  color: #ddd;
  font-size: 40px;
}

header h2 {
  text-align: center;
  padding: 2px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 100;
}


header button {
  text-align: right;
  font-size: 15px;
}

.display {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 20%;
  background-color: #4d76aa；
}

section {
  width: 80%;
}

nav h1 {
  margin-top: 30px;
  color: #432;
  text-align: left;
  border-bottom: 1px #F7CAC9 solid;
  border-width:thick;
}

nav h2 {
  color: #432;
  text-align: left;
}

.main_menu p {
  color: #432;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  display: block;
}

.main_menu a {
  color: #432;
}

.section-image {
  width: 80%;
  /*background-image: url("/image/wallpaper_plan_belongs.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #fff7ec;*/
  /*margin-left: 40px;*/
}

.contents{
   border-left: 1px #ddd solid ;
}

/*各画面の見出し*/
.contents h1 {
 font-size: 30px;
 border-bottom: 1px #F7CAC9 solid;
 margin-left: 30px;
 color: #432;
 border-width:thick;
}

/*各入力欄・データ表示*/
.inputContents {
  width: 600px;
  padding: 10px;
  margin-left: 40px;
  background: #fff7ec;
  box-sizing: border-box;
  border-radius: 6px;
  color: #432c02;
}

/*行程表*/
.planShow{
  font-size:20px;
  border-bottom: 1px  #F7CAC9 solid;
  border-width:thick;
  color:#432;
  margin-left: 30px;
}

.planBackground{
    background-color: #fff7ec;
    margin-left: 40px;
    overflow: scroll; /* 縦スクロールを可能にする */
}

.Plancreate {
  min-width: 400px;
  max-width: 400px;
  list-style: none;
  margin: 0 auto 0 0;
  box-sizing: border-box;
}

.Plancreate li {
  width: 800px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  color: #432c02;
}

.Plancreate .area {
  padding: 10px;
  display: block;
  width: 500px;
  border-left: 6px solid #a7be18;
}

.Plancreate li .day {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 30px;
  color: #432c02;
}

.Plancreate li .time {
  flex-basis: 4em;
  max-width: 5em;
  margin-top: 40px;
  color: #432c02;
}

.Plancreate .sch_box {
  position: relative;
  min-height: 1em;
  background: #ffffff;
  border-radius: 6px;
  color: #432c02;
}

.Plancreate .sch_box::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 15px;
  background:  #a7be18;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.Plancreate #plan {
  font-weight: bold;
  color: #432c02;
}

/*持ち物チェックリスト*/
.belongings_add{
  margin-left: 30px;
}
/*.belongingsCheckboxPage{*/
/*  background-color: #fff7ec;*/
/*}*/

#belongings_list .listName{
  width: 250px;
  text-align: center;
}

#belongings_list .checkbox{
  text-align: center;
}

#belongings_list {
  margin-top: 10px;
  font-size: 15px;
	background-color: #dedede;
	background-image:
	linear-gradient(#ecebeb 50%, transparent 50%, transparent);
	background-size: 40px 40px;
  display: block;
  margin-left: 30px;
  width: 500px;
  color: #432c02;
}

.check{
  margin-left: 30px;
  margin-top: 10px;
}

/*天気チェック*/
.weatherCurrent{
  border-bottom: 1px #ddd solid;
  margin-top: 10px;
  margin-left: 30px;
  color: #432c02;
  
}

.weatherForecast{
   border-bottom: 1px #ddd solid;
   margin-top: 10px;
   margin-left: 30px;
   color: #432c02;
}

.container{
  height: 150px;
  width : 500px;
  border-style: solid;
  border-width: thin;
  margin-left: 50px;
  display: flex;
  margin-top: 10px;
  background-color: #fff7ec;
}

#weather_icon{
  margin-top: 10px;
  flex:1;
  width: 30%
}

#weather_response{
  margin-top: 10px;
  flex:3;
  width: 70%;
}

.weekly{
  height: 200px;
  /*width: 500px;*/
  border-style: solid;
  margin-left: 50px;
  display: flex;
  flex-direction: column; /* 追加：子要素を縦に並べる */
  overflow: scroll; /* 縦スクロールを可能にする */
  margin-top: 10px;
  width: 500px;
  border-width: thin;
  background-color: #fff7ec;
  
  
}

.weekly_item{
  display: flex; /* 新しいクラス：個々の天気予報項目をフレキシブルボックスとしてレイアウト */
  margin-bottom: 10px; /* 新しいクラス：下余白を追加 */
  width:700px;
  list-style: none;
  /*margin-left: 30px;*/
  
}

.weekly_item_icon{
  margin-top: 20px;
}

.weekly_item_details{
  margin-top: 10px;
  margin-left: 30px;
}

/*観光地検索*/
.mapSearch{
  margin-left: 30px;
  /*border-bottom: 1px #ddd solid;*/
}

.findPlace{
  display: flex;
  justify-content:flex-start;
}

.placeDetails{
  margin-top: 30px;
  width:300px;
  height: 500px;
  margin-left: 30px;
  color: #432c02;
  background-color: #f6f0cc;
  overflow: scroll; /* 縦スクロールを可能にする */
}

#map{
  margin-top: 30px;
  border-width: medium;
  border-style: solid thin;
  width: 1000px;
  height: 496px;
}

/*ユーザ設定情報*/
.userInfo{
  width: 400px;
  margin-left: 30px;
  padding: 15px 10px 15px 10px;
  vertical-align: middle;
  background: #fff7ec;
  box-sizing: border-box;
  border-radius: 6px;
  list-style: none;
  color: #432c02;
  
}















