@charset "UTF-8";
#trip{
    background-image: url(public/image/beach-666122_1280.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

header h1{
    text-align: left;
    color: #ddd;
    font-size: 50px;
}

header h2{
    text-align: center;
    color: #432;
    font-size: 50px;
    font-weight: 200;
}

header h3{
    text-align:left;
    font-size: 15px;
    font-weight: 200;
    

}

section{
    width: 80%;
    background-image: url(public/go-pro-1478810_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.display{
    display: flex;
    justify-content: space-between;
    
}
nav h2 {
    color: #432;
    text-align: left;
    border-bottom: 1px #ddd solid;
}


.main_menu li{
    margin-bottom: 10px;
    list-style:none;
    padding: 10px;
    display: block;
}   

.main_menu a{
    color: #432;
}


.contents{
    color: white;
    font-size: 100%;
    padding: 50px;
}
.contents h1{
    font-size: 50px;

}
.contents li{
    font-size: 30px;
    list-style:none;
    line-height: 1.9;
    font-weight: bold;
    padding: 10px;
    display: block;

}

