@charset "UTF-8";
/*これは、自身で作ったCSSファイル*/
#trip {
  background-image: url("/image/header_sea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

header h1 {
  text-align: left;
  color: #ddd;
  font-size: 50px;
}

header h2 {
  text-align: center;
  padding: 5px;
  color: #432;
  font-size: 50px;
  font-weight: 100;
}

header p {
  text-align: right;
  color: #ddd;
  font-size: 15px;
}

header button {
  text-align: right;
  font-size: 15px;
}

section {
  width: 80%;
  background-image: url("/image/wallpaper_plan_belongs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.display {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 20%;
}

section {
  width: 80%;
}

nav h1 {
  color: #432;
  text-align: left;
  border-bottom: 1px #ddd solid;
}

nav h2 {
  color: #432;
  text-align: left;
}

.main_menu p {
  color: #432;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  display: block;
}

.main_menu a {
  color: #432;
}

.contents h1 {
  font-size: 50px;
   border-bottom: 1px #ddd solid;
}



.contents li {
  font-size: 20px;
  list-style: none;
  line-height: 1.9;
  /*font-weight: bold;*/
  padding: 10px;
  display: block;
}


.travel h1 {
  font-size: 50px;
  border-bottom: 1px #ddd solid;
}

.planShow{
  font-size:20px;
  padding-right: 20px;
  border-bottom: 1px #ddd solid;

}

.travel {
  list-style: none;
  font-size: 20px;
  margin: 0 auto 5em;
  padding-left: 50px;
  box-sizing: border-box;
  
}

.travel ul{
  display: inline-block;
  width: 400px;
  margin-left: 40px;
  padding: 15px 10px 15px 10px;
  vertical-align: middle;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  list-style: none;
  margin:8px;
}

.Plancreate {
  min-width: 400px;
  max-width: 400px;
  list-style: none;
  margin: 0 auto 0 0;
  box-sizing: border-box;
}


.Plancreate li {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.Plancreate .area{
  padding: 10px;
  display:block;
  border-left: 6px solid #a7be18;
  
}

/*.Plancreate #day{*/
/*  display: inline-flex;*/
/*  justify-content: flex-start;*/
/*  font-size: 14px;*/
/*  align-items: flex-start;*/
/*  width:60px;*/
/*}*/

.Plancreate li .time {
  display: inline-flex;
  justify-content: flex-end;
  flex-basis: 5em;
  max-width: 5em;
  margin-right: 1em;
  margin-top: 40px;
}

.Plancreate .sch_box {
  width:500px;
  position: relative;
  min-height: 1em;
  background: #ffffff;
  border-radius: 6px;
}

.Plancreate .sch_box::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 20px;
  background: #a7be18;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.Plancreate #Plan {
  font-weight: 700;
}

.Plancreate #remarks {
  font-size: 20px;
  font-weight: normal;
}

#belongings_list .listName{
  width: 250px;
  text-align: center;
}

#belongings_list .checkbox{
  text-align: center;
}

#belongings_list{
  font-size: 15px;
	background-color: #dedede;
	background-image:
	 linear-gradient(#ecebeb 50%, transparent 50%, transparent);
	background-size: 40px 40px;
  display: block;
}










