@charset "UTF-8";
/*これは、自身で作ったCSSファイル*/
#trip {
  background-image: url("/image/header_sea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

header h1 {
  text-align: left;
  color: #ddd;
  font-size: 50px;
}

header h2 {
  text-align: center;
  padding: 5px;
  color: #432;
  font-size: 50px;
  font-weight: 100;
}

header p {
  text-align: right;
  color: #ddd;
  font-size: 15px;
}

header button {
  text-align: right;
  font-size: 15px;
}

.display {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 30%;
}

section {
  width: 70%;
}

nav h1 {
  color: #432;
  text-align: left;
  border-bottom: 1px #ddd solid;
}

nav h2 {
  color: #432;
  text-align: left;
}

.main_menu p {
  color: #432;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  display: block;
}

.main_menu a {
  color: #432;
}
.contents{
  border-left: 1px #ddd solid ;
}

.contents h1 {
  font-size: 50px;
}

/*.contents li {*/
/*  font-size: 30px;*/
/*  list-style: none;*/
/*  line-height: 1.9;*/
/*  font-weight: bold;*/
/*  padding: 10px;*/
/*  display: block;*/
/*  justify-content: space-between;*/
/*}*/

.weatherCurrent{
  border-bottom: 1px #ddd solid;
}

.weatherForecast{
   border-bottom: 1px #ddd solid;

}


.container{
  height: 150px;
  width : 500px;
  border-style: solid;
  margin-left: 50px;
  display: flex;
  /*flex-wrap: nowrap;*/
}

#weather_icon{
  margin-top: 10px;
  flex:1;
  width: 30%
}

#weather_response{
  margin-top: 10px;
  flex:3;
  width: 70%;
}

/*.weekly{*/
/*  height: 180px;*/
/*  width : 500px;*/
/*  border-style: solid;*/
/*  margin-left: 50px;*/
/*  display: flex;*/
/*}*/

/*#weather_icon_forecast{*/
/*  margin-top: 10px;*/
/*  flex:1;*/
/*  width: 30%*/
/*}*/

/*#weather_response_forecast{*/
/*  margin-top: 10px;*/
/*  flex:3;*/
/*  width: 70%;*/
/*}*/
.weekly{
  height: 200px;
  width: 500px;
  border-style: solid;
  margin-left: 50px;
  /*display: flex;*/
  flex-direction: column; /* 追加：子要素を縦に並べる */
  overflow-y: auto; /* 追加：縦スクロールを可能にする */
}

.weekly_item{
  display: flex; /* 新しいクラス：個々の天気予報項目をフレキシブルボックスとしてレイアウト */
  margin-bottom: 10px; /* 新しいクラス：下余白を追加 */
}

.weekly_item_icon{
  margin-top: 10px;
  flex:1;
  width: 30%;
}

.weekly_item_details{
  margin-top: 10px;
  flex:3;
  width: 70%;
}

